<div class="container pt-5">

    <% content_for :title, "Edit Maintenance Record" %>

    <h1>Edit Record</h1>

    <%= render "form", maintenance_record: @maintenance_record %>

    <br>

    <div class="container">
        <%= link_to "Back", request.referer || root_path, class: "btn btn-secondary" %>
    </div>

</div>