<%= render "layouts/navbar" %>
<p style="color: green"><%= notice %></p>

<% content_for :title, "Cars" %>

<div class= "container">
  <h1>My Cars</h1>
</div>

<div class= "container" id="cars">
  <% @cars.each do |car| %>
    <%= render car %>
  <% end %>
</div>

