<%= render "layouts/navbar" %>
<p style="color: green"><%= notice %></p>


<% if alert %>
  <div class="alert alert-danger">
    <%= alert %>
  </div>
<% end %>

<% content_for :title, "Cars" %>



<div class= "container" id="cars">
  <% @cars.each do |car| %>
    <%= render car %>
  <% end %>
</div>

